<footer class="rodape">
    <div  class="redesocial">
        <a href="https://www.instagram.com/yorrangustavo/" target="_blank">
            <img class="rede-social" src="../../../../assets/instagram.png" alt="instagram">
        </a>
        <a href="https://www.linkedin.com/in/yorran-gustavo-22830780/" target="_blank">
            <img class="rede-social" src="../../../../assets/icons8-linkedin-30.png" alt="Linkedin">
        </a>
        <a href="https://github.com/yorrangustavo" target="_blank">
            <img class="rede-social" src="../../../../assets/icons8-github-48.png" alt="GitHub">
        </a>
        <a href="https://www.facebook.com/profile.php?id=100080577782616" target="_blank" >
            <img class="rede-social" src="../../../../assets/icons8-facebook-48.png" alt="Facebook">
        </a>
    </div>
    <p>
        Este é um projeto usando o Frame Work Angular e componentização. Todos os dados presentes são objetos de ficção. Este Blog foi desenvolvido por Yorran Gustavo, para mais informações entrar em contatos nas redes sociais acima.
    </p>
</footer>