<div class="card">
    <section class="big-card">
        <img class="imagem" src="https://s2.glbimg.com/gvYNm39j5iYPmZUe3-05eihFKI0=/smart/e.glbimg.com/og/ed/f/original/2014/10/27/darth_vader_ucrania_getty.jpg" >
        <h1>
            Darth Vader anuncia a criação de um novo ministério.
        </h1>
        <p>
            Presidente Darth Vader cria um novo ministério para conseguir aprovar os projetos para governar o mundo, porém não existe um nome definido, mas dois nomes muito forte Mario Bros e Donkey Kong.
        </p>
    </section>
</div>