
<div class="menu-sup">
    <app-menu-bar >
    </app-menu-bar>
    <app-menu-tag >
    </app-menu-tag>
</div>

<div class="cards-components">
    <app-big-card  class="cards-big">
    </app-big-card>
    <app-big-card2 class="cards-big">
    </app-big-card2>
    <app-big-card3 class="cards-big">
    </app-big-card3>
</div>
<div class="small-card">
    <app-small-card class="small-components"></app-small-card>
    <app-small-card2 class="small-components"></app-small-card2>
    <app-small-card3 class="small-components"></app-small-card3>
    <app-small-card4 class="small-components"></app-small-card4>
</div>
<div class="footer">
    <app-flooter></app-flooter>
</div>